<div class="navbar navbar-expand-sm navbar-light navbar-lewagon py-2">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "book_hit.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Formulaire de recherche dans la barre de navigation -->

      <ul class="navbar-nav ms-auto align-items-center">
        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search-form-control form-group" id="search-form">
          <input class="form-control string required" type="text" name="search[query]" id="search_query" />
          <button name="button" type="submit" class="btn btn-nav">
            <i class="fas fa-search"></i> Search
          </button>
        </div>
      <% end %>

        <li class="nav-item active">
          <%= link_to "New contract", new_offer_path, class: "btn btn-nav" %>
        </li>
        <li class="nav-item active">
          <%= link_to "Dashboard", dashboards_path, class: "btn btn-nav" %>
        </li>
        <li class="nav-item dropdown ms-4">
          <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://i.ibb.co/1r7S3TQ/profilpic-allypunisher.png" />
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <% if user_signed_in? %>
              <p class="ms-3"><strong><%= current_user.user_name %></strong></p>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
