<%= simple_form_for(offer) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :title %>
    </div>
    <div class="col-md-6">
      <%= f.input :speciality, as: :select, collection: Offer::SPECIALITIES.map { |spe| [spe.capitalize, spe] }, input_html: { class: 'form-control' } %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.input :description %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 offset-md-3 d-flex justify-content-center">
      <%= f.input :price %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= f.submit class: "btn btn-main mt-3"%>
    </div>
  </div>
<% end %>
