<div class="border-bottom border-weight-2 my-3">
  <h1 class="mb-3 text-center">About this offer</h1>
</div>

<div class="d-flex justify-content-center">
  <div class="card d-flex flex-row m-4 p-3" style="width: 1000px">
    <div class="d-flex align-items-center">
      <img src="https://images.lecho.be/view?iid=Elvis:94FW4yFJa4z8t0Egj61I_f&context=ONLINE&ratio=16/9&width=640&u=1636033916000" class="avatar-extralarge">
    </div>
    <div class="card-body">
      <h4 class="card-title"><%= @offer.title %></h4>
      <p class="btn btn-sm btn-outline-secondary"><%= @offer.speciality.capitalize %></p>
      <div class="my-4">
        <u>Description:</u>
        <p class="card-text"><%= @offer.description %></p>
      </div>
      <div class="d-flex justify-content-between">
        <p>Service executed by <strong><%= @offer.user.user_name %></strong></p>
        <p><u>Price:</u> <strong><%= @offer.price %> €</strong></p>
      </div>
    </div>
  </div>
</div>


<h1 class="mb-3 text-center">Book this offer</h1>

<div class="d-flex justify-content-center">
  <div class="card d-flex m-4 p-3" style="width: 1000px">
    <%= render "bookings/form", offer: @offer, booking: @booking %>
  </div>
</div>
<div class="border-bottom border-weight-2 my-3">
  </div>
