
<div class="row">

<div class="col-6 border-end border-weight-2">
  <h2 class="ms-5 mb-2 mt-3">My contracts</h2>
    <div class="row ms-2">
      <% @offers.each do |offer| %>
      <div class="card col-3 m-3" style="width: 18rem;">
        <div class="card-body border-bottom border-weight-2 d-flex justify-content-between">
          <h4 class="card-title"><%= offer.title %></h4>
          <%= link_to "X", offer_path(offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
        <div class="ms-3 mt-2">
          <u>Created on:</u>
          <p><%= offer.created_at %></p>
        </div>
        <div class="card-body">
          <%= link_to "Open this Offer", offer_path(offer), class: 'btn btn-form' %>
        </div>
      </div>
    <% end %>
</div>
</div>

<div class="col-6">
<h2 class="ms-5 mb-2 mt-3">My booking requests</h2>
<% @bookings.each do |booking| %>
  <div class="card mb-3 p-2 m-4">
    <div class="d-flex justify-content-between">
      <div class="card-body">
        <div class="d-flex flex-row"><i class="fa-solid fa-user"></i><h5 class="ms-2"><%= booking.target %></h5></div>
        <p class="card-text">Eliminate before <%= booking.deadline %></p>
      </div>

      <div class="card-body text-end align-text-bottom">
      <% if booking.accepted == true %>
      <p class="accepted">Accepted</p>
      <% elsif booking.accepted == false %>
      <p class="declined">Declined</p>
      <% else %>
      <%= link_to "Accept", booking_path(booking, accepted: true), data: {turbo_method: :patch}, class: "btn btn-main" %>
      <%= link_to "Decline", booking_path(booking, accepted: false), data: {turbo_method: :patch}, class: "btn btn-main" %>
      <% end %>

      </div>
    </div>

  </div>
<% end %>
</div>

</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
